{% comment %}
  New Best Seller Product Carousel Section - EXACT ORIGINAL STYLING
  Only fonts and colors are editable in Shopify admin
{% endcomment %}

<section class="row-pgw ecom-iqj section-mwd ecom-d15" style="z-index: inherit; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="column-p9f">
    <div class="column-2jk ecom-iqj ecom-qe2">
      <div class="wrapper-1mg">
        <div class="overlay-hbj">
          <div class="overlay-r1y"></div>
        </div>
        <div class="block-r6d">
          <div class="block-7ot">
            {% if section.settings.section_heading != blank %}
              <div class="block-ln1 ecom-iqj elm-a1e ecom-9m8">
                <div class="eco-23m ele-zho ecom-3ib">
                  <h3 class="eco-skl ecom-2lw">{{ section.settings.section_heading }}</h3>
                </div>
              </div>
            {% endif %}
            
            <div class="block-ln1 ecom-iqj elm-a1e ecom-g42">
              <div class="slide-q9h">
                <div class="ecom-iqj ecom-mhh">
                  <div style="">
                    <div class="container-wp1 wrapper-hhj">
                      <div class="ecom-3ib slide-rcn container-ilg ecom-swiper-d8l fa-c8r">
                        <div class="wrapper-8od" style="transform: translate3d(0px, 0px, 0px);">
                          {% for block in section.blocks %}
                            {% if block.type == 'product' %}
                              {% assign product = all_products[block.settings.product] %}
                              {% if product != blank %}
                                <div class="slide-fd9 box-8bi" style="width: 386.667px; margin-right: 40px;">
                                  <div class="content-l3x">
                                    <div class="container-prm">
                                      <div class="block-r6d">
                                        <div class="block-7ot">
                                          <div class="block-ln1 ecom-iqj elm-a1e">
                                            <div class="row-pgw ecom-iqj ecom-69j" style="z-index: inherit;">
                                              <div class="column-p9f">
                                                <div class="column-2jk ecom-iqj ecom-5dk">
                                                  <div class="wrapper-1mg">
                                                    <div class="overlay-hbj">
                                                      <div class="overlay-r1y"></div>
                                                    </div>
                                                    <div class="block-r6d">
                                                      <div class="block-7ot">
                                                        <div class="block-ln1 ecom-iqj">
                                                          <div class="ecom-3ib">
                                                            <div class="ecom-iqj ecom-mhh">
                                                              <div style="">
                                                                <div>
                                                                  <div>
                                                                    <div>
                                                                      <form>
                                                                        <div class="block-r6d">
                                                                          <div class="block-7ot">
                                                                            <div class="block-ln1 ecom-iqj elm-a1e ecom-7ss">
                                                                              <div class="ecom-3ib ecom-product-loo media-3ri">
                                                                                <div>
                                                                                  <div class="container-nas">
                                                                                    <div class="media-eer">
                                                                                      <div class="media-81h slide-fd9 ecom-ap2" style="padding-top: 107.51295336787565%;">
                                                                                        {% if product.featured_image != blank %}
                                                                                          <img src="{{ product.featured_image | image_url: width: 1946 }}" 
                                                                                               width="1946" height="2092" 
                                                                                               class="image-sv1" 
                                                                                               alt="{{ product.featured_image.alt | escape }}">
                                                                                        {% endif %}
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                                <div></div>
                                                                              </div>
                                                                            </div>
                                                                            <div class="block-ln1 ecom-iqj elm-a1e ecom-n3w">
                                                                              <div class="ecom-3ib ecom-product-loo">
                                                                                <div>
                                                                                  <div>
                                                                                    <h2 class="ecom-3qc" href="/products/{{ product.handle }}">{{ product.title }}</h2>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                            <div class="block-ln1 ecom-iqj ecom-asw">
                                                                              <div class="ecom-3ib ecom-product-loo">
                                                                                <div>
                                                                                  <div class="container-8yc">
                                                                                    <div class="container-fla">
                                                                                      <div class="ecom-product-loo ecom-product-single__price--zf6">
                                                                                        <div class="ecom-product-single__price--3l2">${{ product.price | money_without_currency }}</div>
                                                                                        {% if product.compare_at_price > product.price %}
                                                                                          <div class="ecom-product-single__price--ez1">${{ product.compare_at_price | money_without_currency }}</div>
                                                                                        {% endif %}
                                                                                      </div>
                                                                                      {% if product.compare_at_price > product.price %}
                                                                                        <div>
                                                                                          <div>
                                                                                            <span class="badge-2s8" style="display: block;">-{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round }}%</span>
                                                                                            <span class="badge-we2" style="display:none">Sold out</span>
                                                                                          </div>
                                                                                        </div>
                                                                                      {% endif %}
                                                                                    </div>
                                                                                    <div></div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                            <div class="block-ln1 ecom-iqj ecom-6an">
                                                                              <div class="ecom-3ib ecom-product-loo">
                                                                                <div>
                                                                                  <div>
                                                                                    <div>
                                                                                      <div class="wrapper-tk8">
                                                                                        <button type="submit" 
                                                                                                class="ecom-product-single__add-to-cart--gyb ecom-ap2" 
                                                                                                name="add"
                                                                                                data-product-id="{{ product.selected_or_first_available_variant.id }}"
                                                                                                {% unless product.available %}disabled{% endunless %}>
                                                                                          {% if product.available %}
                                                                                            <span>Add to cart</span>
                                                                                          {% else %}
                                                                                            <span>Sold out</span>
                                                                                          {% endif %}
                                                                                          <span class="button-jsm"></span>
                                                                                        </button>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </form>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="section-gic">
                                                <div class="overlay-r1y"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                        <span></span>
                      </div>
                      <div class="nav-xti" style="display: none;">
                        <button type="button" class="button-qo5 button-5al button-5an button-wam" style="--ecom-position: unset; --ecom-position__tablet: unset; --ecom-position__mobile: unset;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
                            <polyline points="15 18 9 12 15 6"></polyline>
                          </svg>
                        </button>
                        <button type="button" class="button-qo5 button-fjl button-wam button-5an" style="--ecom-position: unset; --ecom-position__tablet: unset; --ecom-position__mobile: unset;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                          </svg>
                        </button>
                      </div>
                      <div class="pagination-93d pagination-k53 pagination-an4 pagination-4q1 pagination-vsz" style="display: none;">
                        <span class="pagination-9ve pagination-3h5"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-gic">
    <div class="overlay-r1y"></div>
  </div>
</section>

<style>
  /* Load selected fonts dynamically */
  {{ section.settings.heading_font | font_face: font_display: 'swap' }}
  {{ section.settings.product_title_font | font_face: font_display: 'swap' }}

  /* EXACT ORIGINAL CSS - NO CHANGES */
  @font-face { 
    font-family:'ecom-swiper-icons';
    src:url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
    font-weight:400;
    font-style:normal;
  } 

  body {  
    font-family:'Montserrat', sans-serif;
  }  

  div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
  } 

  *  { 
    box-sizing: border-box;
  } 

  body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
  } 

  html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
    scroll-behavior: smooth;
  } 

  :root { 
    --ecom-swiper-theme-color: #007aff;
    --ecom-swiper-navigation-size: 44px;
  } 

  section { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
  }

  .row-pgw { 
    width: 100%; 
    position: relative;
  } 

  .row-pgw.section-mwd { 
    clear: both;
  } 

  .ecom-iqj.ecom-d15 { 
    background: url('https://cdn.shopify.com/s/files/1/0623/8303/0317/files/ecom-no-replace-e9EIwAyfg3Frame_1000004735.png?v=1725002608') no-repeat scroll center center/cover;
    padding-top: 84px !important; 
    padding-bottom: 84px !important;
  } 

  div.column-p9f { 
    margin: 0 auto; 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    position: relative; 
    z-index: 1;
  } 

  .section-mwd > div.column-p9f  { 
    max-width: 1400px;
  } 

  .section-mwd > div.column-p9f  { 
    max-width: 1200px;
  } 

  .ecom-iqj.ecom-d15 > div.column-p9f { 
    max-width: 1280px;
  } 

  .column-2jk { 
    position: relative;
  } 

  .ecom-iqj.ecom-qe2 { 
    width: 100%;
  } 

  .overlay-r1y { 
    pointer-events: none;
    display: block; 
    position: absolute; 
    inset: 0;
  } 

  .section-gic > .overlay-r1y  { 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
  } 

  .ecom-iqj div:empty  { 
    display: block;
  } 

  .column-2jk > .wrapper-1mg  { 
    align-items: flex-start; 
    display: flex;
    height: 100%;
    padding: 20px;
  } 

  div.block-r6d { 
    display: flex; 
    width: 100%; 
    height: 100%;
  } 

  .overlay-hbj .overlay-r1y  { 
    pointer-events: none;
  } 

  .overlay-hbj > .overlay-r1y  { 
    position: absolute; 
    inset: 0;
  } 

  div.block-r6d > div.block-7ot  { 
    display: flex; 
    flex-wrap: wrap; 
    align-content: flex-start; 
    width: 100%;
  } 

  div.block-ln1 { 
    position: relative; 
    display: inline-block; 
    width: 100%;
    height: fit-content;
  } 

  .ecom-iqj.ecom-9m8 { 
    padding-bottom: 0 !important;
  } 

  .ecom-iqj.ecom-g42 { 
    margin-top: 80px !important;
  } 

  div.block-7ot > div.block-ln1.elm-a1e:not(:first-child)  { 
    margin-top: 20px;
  } 

  div.block-7ot > div.block-ln1 + div.block-ln1.elm-a1e  { 
    margin-top: 20px;
  } 

  .eco-23m,.ecom-3ib { 
    display: block; 
    position: relative; 
    width: 100%;
  } 

  .slide-q9h { 
    overflow: hidden;
  } 

  h3 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
  } 

  .ecom-2lw { 
    display: block;
  } 

  /* DYNAMIC EDITABLE STYLES */
  .ecom-iqj.ecom-9m8 .ele-zho .eco-skl  { 
    text-align: center; 
    margin: 0px; 
    padding: 0px;
    font-weight: 700; 
    font-size: 40px; 
    font-family: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }}; 
    text-transform: uppercase; 
    text-decoration: none; 
    line-height: 1.3em; 
    letter-spacing: -0.8px;
    color: {{ section.settings.heading_color }};
  } 

  div.ecom-mhh { 
    overflow: visible !important;
  } 

  .container-wp1 { 
    opacity: 0; 
    position: relative; 
    display: flex; 
    flex-direction: column;
  } 

  .container-wp1.wrapper-hhj { 
    opacity: 1;
  } 

  .ecom-iqj.ecom-g42 .container-wp1  { 
    padding-left: calc((100% - 100%) / 2); 
    padding-right: calc((100% - 100%) / 2);
  } 

  .container-ilg { 
    overflow: hidden;
    width: 100%;
  } 

  .ecom-swiper-d8l { 
    touch-action: pan-y;
  } 

  .ecom-iqj.ecom-g42 .container-wp1 .slide-rcn  { 
    height: none;
  } 

  .nav-xti { 
    display: flex;
  } 

  .pagination-93d { 
    position: absolute; 
    text-align: center; 
    transition: 300ms opacity; 
    transform: translate3d(0, 0, 0); 
    z-index: 10;
  } 

  .pagination-vsz { 
    display: none;
  } 

  .pagination-an4.pagination-4q1 { 
    bottom: var(--ecom-swiper-pagination-bottom, 8px); 
    top: var(--ecom-swiper-pagination-top, auto); 
    left: 0; 
    width: 100%;
  } 

  .container-wp1 .pagination-an4  { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    bottom: 0;
  } 

  .container-wp1 .pagination-93d:not(.ecom-swiper-pagination-progressbar)  { 
    position: relative; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
  } 

  .wrapper-8od { 
    position: relative; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    display: flex; 
    transition-property: transform; 
    transition-timing-function: var(--ecom-swiper-wrapper-transition-timing-function, initial); 
    box-sizing: content-box;
    transform: translate3d(0px, 0, 0);
    align-items: stretch;
  } 

  .container-wp1 .ecom-swiper-d8l .wrapper-8od  { 
    height: 100% !important;
  } 

  span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
  } 

  .button-5al { 
    position: absolute; 
    top: var(--ecom-swiper-navigation-top-offset, 50%); 
    width: calc(var(--ecom-swiper-navigation-size) / 44 * 27); 
    height: var(--ecom-swiper-navigation-size); 
    margin-top: calc(0px - (var(--ecom-swiper-navigation-size) / 2)); 
    z-index: 10; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: var(--ecom-swiper-navigation-color, var(--ecom-swiper-theme-color));
    left: var(--ecom-swiper-navigation-sides-offset, 10px); 
    right: auto;
  } 

  .button-wam { 
    display: none;
  } 

  .ecom-sections button { 
    cursor: pointer;
  } 

  .nav-xti button  { 
    margin: 0;
  } 

  .button-5al.button-5an { 
    opacity: 0.35; 
    cursor: auto;
  } 

  .container-wp1 .button-5al  { 
    border: 0; 
    background: transparent; 
    width: auto; 
    height: auto; 
    padding: 5px; 
    color: #444;
  } 

  .nav-xti .button-qo5  { 
    position: var(--ecom-position);
  } 

  .button-5al:after,.button-fjl:after { 
    font-family: ecom-swiper-icons; 
    font-size: var(--ecom-swiper-navigation-size); 
    text-transform: none !important; 
    letter-spacing: 0; 
    font-variant: initial; 
    line-height: 1;
  } 

  .button-5al:after, .ecom-swiper-rtl .button-fjl::after { 
    content: 'prev';
  } 

  .container-wp1 .button-fjl::after, .container-wp1 .button-5al::after { 
    content: none;
  } 

  .button-fjl { 
    position: absolute; 
    top: var(--ecom-swiper-navigation-top-offset, 50%); 
    width: calc(var(--ecom-swiper-navigation-size) / 44 * 27); 
    height: var(--ecom-swiper-navigation-size); 
    margin-top: calc(0px - (var(--ecom-swiper-navigation-size) / 2)); 
    z-index: 10; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: var(--ecom-swiper-navigation-color, var(--ecom-swiper-theme-color));
    right: var(--ecom-swiper-navigation-sides-offset, 10px); 
    left: auto;
  } 

  .button-fjl.button-5an { 
    opacity: 0.35; 
    cursor: auto;
  } 

  .container-wp1 .button-fjl  { 
    border: 0; 
    background: transparent; 
    width: auto; 
    height: auto; 
    padding: 5px; 
    color: #444;
  } 

  .button-fjl:after, .ecom-swiper-rtl .button-5al::after { 
    content: 'next';
  } 

  .pagination-9ve { 
    width: var(--ecom-swiper-pagination-bullet-width, var(--ecom-swiper-pagination-bullet-size, 8px)); 
    height: var(--ecom-swiper-pagination-bullet-height, var(--ecom-swiper-pagination-bullet-size, 8px)); 
    display: inline-block; 
    border-radius: var(--ecom-swiper-pagination-bullet-border-radius, 50%); 
    background: var(--ecom-swiper-pagination-bullet-inactive-color, #000); 
    opacity: var(--ecom-swiper-pagination-bullet-inactive-opacity, 0.2);
    position: relative;
  } 

  .pagination-3h5 { 
    opacity: var(--ecom-swiper-pagination-bullet-opacity, 1); 
    background: var(--ecom-swiper-pagination-color, var(--ecom-swiper-theme-color));
  } 

  .pagination-k53 .pagination-9ve  { 
    cursor: pointer;
  } 

  .pagination-9ve:only-child { 
    display: none !important;
    opacity: none;
  } 

  .container-wp1 .pagination-9ve  { 
    width: 15px; 
    height: 15px; 
    opacity: 1; 
    overflow: hidden;
  } 

  .container-wp1 .pagination-9ve ,.container-wp1 .pagination-3h5  { 
    background-clip: content-box; 
    padding: 1px; 
    box-sizing: content-box !important; 
    background-color: currentColor;
  } 

  .pagination-4q1.pagination-an4 .pagination-9ve  { 
    margin: 0 var(--ecom-swiper-pagination-bullet-horizontal-gap, 4px);
  } 

  .pagination-9ve:after { 
    content: ''; 
    position: absolute; 
    bottom: 0; 
    height: 0; 
    left: 0; 
    width: 100%; 
    box-shadow: 0 0 1px #fff; 
    -webkit-transition: height .3s; 
    transition: height .5s;
  } 

  .slide-fd9 { 
    flex-shrink: 0; 
    width: 100%; 
    height: 100%; 
    position: relative; 
    transition-property: transform; 
    display: block;
  } 

  .fa-c8r .slide-fd9  { 
    transform: translateZ(0); 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  } 

  .container-wp1 .slide-fd9  { 
    position: relative;
  } 

  .wrapper-8od .slide-fd9  { 
    text-align: center;
  } 

  .ecom-iqj.ecom-g42 .slide-fd9  { 
    animation-duration: 5000ms !important; 
    background-color: transparent;
  } 

  .ecom-iqj.ecom-g42 .slide-fd9.box-8bi  { 
    background-color: transparent;
  } 

  .ecom-iqj.ecom-g42 .slide-fd9:hover { 
    background-color: transparent;
  } 

  .button-5al svg  { 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    transform-origin: center;
  } 

  .button-qo5 svg  { 
    width: 24px; 
    height: 24px;
  } 

  .button-fjl svg  { 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    transform-origin: center;
  } 

  .content-l3x { 
    height: 100%;
  } 

  .slide-fd9 .content-l3x  { 
    display: flex; 
    justify-content: center;
  } 

  .ecom-iqj.ecom-g42 .content-l3x  { 
    align-content: center; 
    align-items: center; 
    display: flex;
  } 

  .container-prm { 
    width: 100%; 
    z-index: 99;
  } 

  .slide-fd9 div.block-r6d > div.block-7ot  { 
    display: flex;
  } 

  .row-pgw:not(.section-mwd) { 
    float: left;
  } 

  .row-pgw:hover { 
    z-index: 1;
  } 

  .ecom-iqj.ecom-5dk { 
    width: 100%;
  } 

  .ecom-iqj.ecom-69j > .column-p9f > .column-2jk > .wrapper-1mg  { 
    padding: 0px;
  } 

  .ecom-iqj.ecom-5dk > div.wrapper-1mg > div.block-r6d > .block-7ot  { 
    justify-content: center;
  } 

  .ecom-iqj.ecom-5dk > div.wrapper-1mg > div.block-r6d > div.block-7ot  { 
    align-items: center; 
    align-content: center;
  } 

  form { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
  } 

  .ecom-iqj.ecom-asw { 
    margin-top: 16px !important; 
    animation-duration: 500ms !important;
  } 

  .ecom-iqj.ecom-6an { 
    margin-top: 16px !important;
  } 

  .media-3ri { 
    display: block; 
    position: relative; 
    width: 100%;
  } 

  .media-3ri .container-nas  { 
    display: flex; 
    flex-direction: column; 
    gap: 10px;
  } 

  .container-8yc { 
    display: flex; 
    flex-direction: column; 
    gap: 5px;
  } 

  .ecom-iqj.ecom-7ss .media-eer  { 
    border-radius: 8px; 
    overflow: hidden;
  } 

  h2 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
  } 

  /* DYNAMIC EDITABLE PRODUCT TITLE */
  .ecom-iqj.ecom-n3w .ecom-3qc  { 
    font-size: 16px; 
    font-weight: 700; 
    font-family: {{ section.settings.product_title_font.family }}, {{ section.settings.product_title_font.fallback_families }}; 
    text-transform: uppercase; 
    text-decoration: none; 
    letter-spacing: 0px; 
    line-height: 1.25em;
    color: {{ section.settings.product_title_color }};
  } 

  /* DYNAMIC EDITABLE PRICE CONTAINER */
  .container-fla { 
    display: flex;
    justify-content: center;
    align-items: center; 
    width: fit-content; 
    margin: auto; 
    padding: 6px 6px 6px 12px; 
    border-radius: 8px; 
    background: linear-gradient(123deg, {{ section.settings.price_background_start }} 4.05%, {{ section.settings.price_background_end }} 93.33%);
  } 

  .ecom-ap2 { 
    display: flex;
  } 

  .media-81h { 
    min-height: 100px;
    padding-top: 107.51295336787565%;
  } 

  .container-8yc .ecom-product-single__price--zf6  { 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    flex-wrap: wrap;
  } 

  .ecom-iqj.ecom-asw .ecom-product-loo.ecom-product-single__price--zf6  { 
    flex-wrap: wrap;
  } 

  .wrapper-tk8 { 
    display: flex; 
    align-items: center;
  } 

  .ecom-iqj.ecom-6an .wrapper-tk8  { 
    align-items: center; 
    justify-content: center;
  } 

  img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
  } 

  .image-sv1 { 
    display: flex;
  } 

  .slide-rcn img  { 
    display: block;
  } 

  .media-81h img  { 
    display: block; 
    max-width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -o-user-select: none; 
    user-select: none;
  } 

  .media-eer img  { 
    transform: translate3d(0, 0, 0);
  } 

  div.ecom-iqj img  { 
    max-width: 100%; 
    height: auto; 
    border: 0; 
    vertical-align: middle;
  } 

  .ecom-iqj.ecom-7ss .media-eer .image-sv1  { 
    border-radius: 8px; 
    overflow: hidden;
  } 

  .ecom-product-single__price--3l2 { 
    font-size: 20px; 
    color: #fff; 
    display: inline-flex;
    font-family: 'Satoshi-Variable', sans-serif; 
    font-weight: 700; 
    text-transform: uppercase; 
    text-decoration: none; 
    letter-spacing: -0.4px; 
    line-height: 1em;
    margin: 0px; 
    padding: 0px;
  } 

  .ecom-product-single__price--ez1 { 
    text-decoration: line-through; 
    color: #FFFFFF7A; 
    display: inline-flex;
    font-weight: 500; 
    font-size: 14px; 
    line-height: 1em; 
    font-family: 'Satoshi-Variable', sans-serif; 
    letter-spacing: -0.28px; 
    text-transform: uppercase;
    margin: 0px; 
    padding: 0px;
  } 

  /* DYNAMIC EDITABLE BUTTON */
  .ecom-product-single__add-to-cart--gyb { 
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-weight: 700; 
    text-transform: uppercase; 
    letter-spacing: -0.32px; 
    font-style: normal; 
    font-family: 'Satoshi-Variable', sans-serif; 
    font-size: 16px; 
    text-decoration: none; 
    line-height: 1em; 
    width: 145px; 
    height: 40px; 
    min-height: 40px; 
    color: {{ section.settings.button_text_color }}; 
    background-color: {{ section.settings.button_color }}; 
    border-style: solid; 
    border-width: 1px; 
    border-color: {{ section.settings.button_color }}; 
    border-radius: 100px; 
    transition-duration: 500ms; 
    padding: 0px; 
    margin: 0px;
    cursor: pointer;
  } 

  .ecom-iqj.ecom-6an .ecom-product-single__add-to-cart--gyb:hover { 
    color: {{ section.settings.button_hover_text_color }}; 
    background-color: {{ section.settings.button_hover_color }}; 
    border-style: solid; 
    border-width: 1px; 
    border-color: {{ section.settings.button_hover_text_color }}; 
    border-radius: 100px;
  } 

  .ecom-product-single__add-to-cart--gyb:disabled { 
    background-color: #8a8a8a; 
    border-color: #8a8a8a; 
    cursor: not-allowed;
  } 

  /* DYNAMIC EDITABLE BADGE */
  .badge-2s8 { 
    display: none; 
    color: red;
    font-size: 16px; 
    font-weight: 700; 
    line-height: 1em; 
    text-transform: uppercase; 
    font-family: 'Satoshi-Variable', sans-serif; 
    letter-spacing: -0.32px;
    color: {{ section.settings.discount_badge_color }}; 
    margin: 0px 0px 0px 12px; 
    padding: 6px; 
    background-color: {{ section.settings.discount_badge_bg }}; 
    border-radius: 4px; 
    overflow: hidden;
  } 

  .badge-we2 { 
    font-size: 12px; 
    font-weight: 500; 
    line-height: 1.5em; 
    font-family: 'DM Sans', sans-serif;
    color: #ffffff; 
    margin: 0px 0px 0px 12px; 
    padding: 6px; 
    background-color: #8a8a8a; 
    border-radius: 4px; 
    overflow: hidden;
    display: flex; 
    width: max-content;
  } 

  .button-jsm { 
    display: flex; 
    align-items: center;
    display: inline-flex; 
    color: inherit;
  } 

  .ecom-product-single__add-to-cart--gyb:hover .button-jsm { 
    color: var(--icon-color-hover);
  } 

  /* EXACT ORIGINAL RESPONSIVE - NO CHANGES */
  @media screen and (max-width: 767px) {
    .ecom-iqj.ecom-d15 { 
      padding-top: 32px !important; 
      padding-bottom: 32px !important;
    } 

    .ecom-iqj.ecom-qe2 { 
      width: 100%;
    } 

    .ecom-iqj.ecom-g42 { 
      margin-top: 40px !important;
    } 

    .ecom-iqj.ecom-9m8 .ele-zho .eco-skl  { 
      text-align: center;
      font-size: 28px;
    } 

    .ecom-iqj.ecom-g42 .container-wp1 .slide-rcn  { 
      height: none;
    } 

    .ecom-iqj.ecom-5dk { 
      width: 100%;
    } 

    .ecom-iqj.ecom-asw { 
      margin-top: 15px !important;
    } 

    .badge-2s8 { 
      font-size: 14px;
      padding-right: 15px; 
      padding-left: 15px;
    } 
  }

  @media (max-width: 1024px) { 
    .nav-xti .button-qo5  { 
      position: var(--ecom-position__tablet);
    } 
  }

  @media (max-width: 767px) { 
    .nav-xti .button-qo5  { 
      position: var(--ecom-position__mobile);
    } 
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .ecom-iqj.ecom-d15 { 
      padding-top: 32px !important; 
      padding-bottom: 32px !important;
    } 

    .ecom-iqj.ecom-9m8 { 
      padding-bottom: 0 !important;
    } 

    .ecom-iqj.ecom-g42 { 
      margin-top: 40px !important;
    } 

    .ecom-iqj.ecom-9m8 .ele-zho .eco-skl  { 
      text-align: center;
    } 

    .ecom-iqj.ecom-g42 .container-wp1 .slide-rcn  { 
      height: none;
    } 

    .ecom-iqj.ecom-n3w { 
      padding-bottom: 0 !important;
    } 

    .ecom-iqj.ecom-asw { 
      margin-top: 15px !important;
    } 
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Add to cart functionality
    const addToCartButtons = document.querySelectorAll('.ecom-product-single__add-to-cart--gyb');
    addToCartButtons.forEach(button => {
      button.addEventListener('click', function(e) {
        e.preventDefault();
        if (this.disabled) return;
        
        const variantId = this.dataset.productId;
        if (variantId) {
          fetch('/cart/add.js', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              items: [{
                id: variantId,
                quantity: 1
              }]
            })
          })
          .then(response => response.json())
          .then(data => {
            // Update cart drawer or show success message
            if (window.theme && window.theme.cart) {
              window.theme.cart.updateCart();
            }
            // Simple success feedback
            const originalText = this.querySelector('span').textContent;
            this.querySelector('span').textContent = 'Added!';
            setTimeout(() => {
              this.querySelector('span').textContent = originalText;
            }, 2000);
          })
          .catch(error => {
            console.error('Error adding to cart:', error);
          });
        }
      });
    });

    // Carousel functionality - Show navigation on interaction
    const carousel = document.querySelector('.wrapper-8od');
    const slides = document.querySelectorAll('.slide-fd9');
    const navButtons = document.querySelector('.nav-xti');
    const prevBtn = document.querySelector('.button-5al');
    const nextBtn = document.querySelector('.button-fjl');
    
    if (carousel && slides.length > 0) {
      let currentIndex = 0;
      const slidesPerView = window.innerWidth <= 767 ? 1 : window.innerWidth <= 1024 ? 2 : 3;
      const maxIndex = Math.max(0, slides.length - slidesPerView);
      
      // Show navigation on interaction
      if (navButtons && slides.length > slidesPerView) {
        navButtons.style.display = 'flex';
      }
      
      function updateSlidePosition() {
        const slideWidth = slides[0].offsetWidth + 40; // slide width + margin
        carousel.style.transform = `translate3d(-${currentIndex * slideWidth}px, 0px, 0px)`;
        
        // Update button states
        prevBtn.classList.toggle('button-5an', currentIndex === 0);
        nextBtn.classList.toggle('button-5an', currentIndex >= maxIndex);
      }
      
      function goToSlide(index) {
        currentIndex = Math.max(0, Math.min(maxIndex, index));
        updateSlidePosition();
      }
      
      if (prevBtn) {
        prevBtn.addEventListener('click', () => {
          if (currentIndex > 0) goToSlide(currentIndex - 1);
        });
      }
      
      if (nextBtn) {
        nextBtn.addEventListener('click', () => {
          if (currentIndex < maxIndex) goToSlide(currentIndex + 1);
        });
      }
      
      // Initialize
      updateSlidePosition();
      
      // Handle window resize
      window.addEventListener('resize', () => {
        updateSlidePosition();
      });
    }
  });
</script>

{% schema %}
{
  "name": "New Best Seller",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "NEW BEST SELLER"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font",
      "default": "helvetica_n7"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#00528C"
    },
    {
      "type": "font_picker",
      "id": "product_title_font",
      "label": "Product Title Font",
      "default": "helvetica_n7"
    },
    {
      "type": "color",
      "id": "product_title_color",
      "label": "Product Title Color",
      "default": "#00528C"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "price_background_start",
      "label": "Price Background Start Color",
      "default": "#0370BB"
    },
    {
      "type": "color",
      "id": "price_background_end",
      "label": "Price Background End Color",
      "default": "#68B5F8"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Background Color",
      "default": "#00528C"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button Hover Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_hover_text_color",
      "label": "Button Hover Text Color",
      "default": "#00528C"
    },
    {
      "type": "color",
      "id": "discount_badge_color",
      "label": "Discount Badge Color",
      "default": "#00528C"
    },
    {
      "type": "color",
      "id": "discount_badge_bg",
      "label": "Discount Badge Background",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Top Padding",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "New Best Seller",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}